
.optionBox{
    cursor: pointer;
}
.confoptionactive{
    border: 1px solid #26222130;
    border-radius: 40px 40px 40px 40px;
    background-color: rgba(38,34,33,0.1);
}
.confoptionactive :blur{
    border: 2px solid rgba(38,34,33,0.19);
    border-radius: 40px 40px 40px 40px;
    background-color: rgba(38,34,33,0.1);
}

*::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 4px grey;
	box-shadow: inset 0 0 4px grey;
	border-radius: 10px;
	background-color: rgb(255, 255, 255);
}

*::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

*::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 4px rgba(0,0,0,.3);
	box-shadow: inset 0 0 4px rgba(0,0,0,.3);
	background-color: rgb(236, 236, 236);
}

.imageRound{
    object-fit:cover;
}

#canvas_1{
    cursor: pointer;
	position: relative;
	top: -15px;
    left: -35px;
}

#canvas_2 {
	cursor: pointer;
	width: 60% !important;
    height: 250px !important;
	position: relative;
    left: 20%;
	cursor: default;
}
#canvas_4{
    cursor: pointer;
	width: 60% !important;
	position: relative;
    left: 20%;
    height: 250px !important;	
}

#canvas_5{
    cursor: pointer;
	width: 60% !important;
	position: relative;
    left: 20%;
    height: 250px !important;	
}

#canvas_6{
    cursor: pointer;
	width: 60% !important;
	position: relative;
    left: 20%;
    height: 250px !important;
}