body {
  margin: 0;
  z-index: -1000;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#addExpense {
  min-height: 85%;
  min-width: 65%;
}
#addIncome { 
  min-height: 75% !important;
  min-width: 65%;
}
#addDocIncome{
  min-height: 75% !important;
  min-width: 65%;
}
#docPdf {
  min-height: 90%;
}
.collapsible-body {
  padding: 0px !important;
  padding-left: 2rem !important;
}
.datepicker-modal{
  min-width: '80%';

}
.datepicker-date-display {
  background: #1e88e5
}